body {
    display: block;
    margin: 0 10%;
}

section {
    margin: 0 5% 50px 5%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto 5%;
    flex-wrap: wrap;
}

.swatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    max-height: 200px;
    margin: 20px;
}

.colour-block {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform .25s; /*Sets transition time for the expansion of the colour swatch*/
}

.colour-block p {
    visibility: hidden;
}

.colour-block:hover {
    transform: scale(1.1); /* The colour blocks will increase to 110% of original size*/
}
.colour-block:hover p {
    visibility: visible; /*The HSL text only visibile on hover*/
}
.swatch p {
    margin: 1px auto;
}

.colour-name {

}

.colour-desc {

}

#beige {
    background-color: hsl(25, 51%, 87%);
}
#terracotta {
    background-color: hsl(18, 61%, 59%);
}
#snow {
    background-color: hsl(0, 100%, 99%);
}
#saddlebrown {
    background-color: hsl(25, 76%, 31%);
    color:hsl(0, 100%, 99%);
}
#mustard {
    background-color: hsl(42, 95%, 54%);
}
#salmon {
    background-color: hsl(12, 95%, 69%);
}
#burntpeach {
    background-color: hsl(14, 74%, 55%);
}
#oxblood {
    background-color: hsl(9, 63%, 37%);
}
#duckegg {
    background-color: hsl(175, 27%, 84%);
}
#darkforest {
    background-color: hsl(132, 4%, 23%);
    color: hsl(0, 100%, 99%);
}
#teal {
    background-color: hsl(183, 31%, 47%);
}
#mint {
    background-color: hsl(164, 36%, 66%);
}

.font-panel {
    width: 45%;
    display: inline-block;
}

.font-label {
    text-decoration: underline;
    font-size: 25px;
}

.space-mono {
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
}

.raleway {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.montserrat {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
